<fieldset data-hook="paypal">
  <legend align="center"><%= I18n.t(:transaction, scope: 'spree.paypal') %></legend>

  <div class="row">
    <div class="alpha six columns">
      <dl>
        <dt><%= I18n.t(:payer_id, scope: 'spree.paypal') %>:</dt>
        <dd><%= payment.source.payer_id %></dd>

        <dt><%= I18n.t(:token, scope: 'spree.paypal') %>:</dt>
        <dd><%= payment.source.token %></dd>

        <dt><%= I18n.t(:transaction_id) %>:</dt>
        <dd><%= payment.source.transaction_id %></dd>
      </dl>
    </div>

    <% if payment.source.state != 'refunded' %>
      <%= button_link_to I18n.t('actions.refund', scope: 'spree.paypal'), spree.paypal_refund_admin_order_payment_path(@order, payment), :icon => 'icon-dollar' %>
    <% else %>
      <div class="alpha six columns">
        <dl>
          <dt><%= I18n.t(:state, scope: 'spree.paypal') %>:</dt>
          <dd><%= payment.source.state.titleize %></dd>

          <dt><%= I18n.t(:refunded_at, scope: 'spree.paypal') %>:</dt>
          <dd><%= pretty_time(payment.source.refunded_at) %></dd>

          <dt><%= I18n.t(:refund_transaction_id, scope: 'spree.paypal') %>:</dt>
          <dd><%= payment.source.refund_transaction_id %></dd>
        </dl>
      </div>
    <% end %>
  </div>
</fieldset>
